@media (min-width: 768px) {
    header {
        flex-flow: row;

        .avatar {
            margin: 0 40px;
        }

        .desc {
            text-align: left;
        }
    }

    .photos li {
        width: 30%;
    }
}